<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--headerFragment 선언-->
<th:block th:fragment="headerFragment">
<script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.5.js"></script>
	<div class="container-fluid mb-0" id="nav-bg">
		<header class="d-flex flex-wrap justify-content-center pb-0 mb-0">
			<div class="row">
				<div class="col-md-3 align-self-center" id="index-1-title">
					<a th:href="@{/index#normal-text}"
						class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none"
						id="hd-1"> <img id="imsi" src="/img/imsi.png"><span
						id="title-span">Memory Gift</span></a>
				</div>
				<div class="col-md-4"></div>
				<div class="col-md-1" id="index-1" th:onclick="|location.href='@{/index#normal-text}'|">소개</div>
				<div class="col-md-1" id="index-1" th:onclick="|location.href='@{/res}'|">대관</div>
				<div class="col-md-1" id="index-1" th:onclick="|location.href='@{/card}'|">후기</div>
				<div class="col-md-1" id="index-1" th:onclick="|location.href='@{/price}'|">가격</div>
				<div class="col-md-1" id="index-1" th:onclick="|location.href='@{/member/login}'|" sec:authorize ="isAnonymous()">접속</div>
				<div class="col-md-1" id="index-1" th:onclick="|location.href='@{/logout}'|" sec:authorize="hasAnyRole('USER','ADMIN')">해제</div>
				<div class="col-md-1" id="index-1" sec:authorize="hasRole('KUSER')" 
				th:onclick="|location.href='@{https://kauth.kakao.com/oauth/logout?client_id=13da41e01c3d7861d06de918b0daedcc&logout_redirect_uri=http://192.168.0.16:8082/logout}'|" >해제</div>
			</div>
			<div class="row">
				<div class="col-2 align-self-center" id="index-2-title">
					<a href="index"
						class="d-flex align-items-center text-decoration-none" id="hd-1"><img
						id="imsi" src="/img/imsi.png"></a>
				</div>
				<div class="col-2" id="index-2" th:onclick="|location.href='@{/intro}'|">소개</div>
				<div class="col-2" id="index-2" th:onclick="|location.href='@{/res}'|">대관</div>
				<div class="col-2" id="index-2" th:onclick="|location.href='@{/card}'|">후기</div>
				<div class="col-2" id="index-2" th:onclick="|location.href='@{/price}'|">가격</div>
				<div class="col-2" id="index-2" th:onclick="|location.href='@{/member/login}'|" sec:authorize ="isAnonymous()">접속</div>
				<div class="col-2" id="index-2" th:onclick="|location.href='@{/logout}'|" sec:authorize="hasAnyRole('USER','ADMIN')">해제</div>
				<div class="col-2" id="index-2" sec:authorize="hasRole('KUSER')" th:onclick="|location.href='@{https://kauth.kakao.com/oauth/logout?client_id=13da41e01c3d7861d06de918b0daedcc&logout_redirect_uri=http://localhost:8082/logout}'|" >해제</div>
			</div>
		</header>
	</div>
	<div class="floating" sec:authorize="hasAnyRole('USER','KUSER')">
		<button type="button" class="btn" id="my-button" th:onclick="|location.href='@{/mypage}'|">
		<div id="my-button2"><img src="/img/mypageicon.png" class="img-fluid" id="my-icon"> My 페이지</div></button>
	</div>
	<div class="floating" sec:authorize="hasRole('ADMIN')">
		<button type="button" class="btn" id="my-button" th:onclick="|location.href='@{/admin}'|">
		<div id="my-button2"><img src="/img/mypageicon.png" class="img-fluid" id="my-icon"> 관리 페이지</div></button>
	</div>
</th:block>
</html>