<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!--headerFragment 선언-->
<th:block th:fragment="headerFragment">
	<div class="container-fluid mb-0" id="nav-bg">
		<header class="d-flex flex-wrap justify-content-center pb-0 mb-0">
			<div class="row">
				<div class="col-md-3 align-self-center" id="index-1-title">
					<a href="index"
						class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none"
						id="hd-1"> <img id="imsi" src="img/imsi.png"><span
						id="title-span">Memory Gift</span></a>
				</div>
				<div class="col-md-3"></div>
				<div class="col-md-1" id="index-1" th:onclick="|location.href='@{/intro}'|">소개</div>
				<div class="col-md-1" id="index-1" th:onclick="|location.href='@{/res}'|">대관</div>
				<div class="col-md-1" id="index-1" th:onclick="|location.href='@{/card}'|">후기</div>
				<div class="col-md-1" id="index-1" onclick="">가격</div>
				<div class="col-md-1" id="index-1">옵션</div>
				<div class="col-md-1" id="index-1" th:onclick="|location.href='@{/login}'|">접속</div>
			</div>
			<div class="row">
				<div class="col-2 align-self-center" id="index-2-title">
					<a href="index"
						class="d-flex align-items-center text-decoration-none" id="hd-1"><img
						id="imsi" src="img/imsi.png"></a>
				</div>
				<div class="col-2 " id="index-2" th:onclick="|location.href='@{/intro}'|">소개</div>
				<div class="col-2" id="index-2" th:onclick="|location.href='@{/res}'|">대관</div>
				<div class="col-2" id="index-2" th:onclick="|location.href='@{/card}'|">후기</div>
				<div class="col-2 align-self-center" id="index-2">옵션</div>
				<div class="col-2 align-self-center" id="index-2" th:onclick="|location.href='@{/login}'|">접속</div>
			</div>
		</header>
	</div>
</th:block>
</html>