<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultarag.net.nz/thymeleaf/layout"
	layout:decorate="layouts/first_layout">
<th:block layout:fragment="content">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
 <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
	<link th:href="@{/css/roomPage.css}" rel="stylesheet">
	<link th:href="@{/css/sch.css}" rel="stylesheet">
	<body>
		<main>
		<div class="d-flex align-items-center justify-content-center mb-5 mt-5"
			id="room-text1">Reservation</div>
			<div class="container" style="min-height: 900px;">
				<div class="row g-0" id="room">
					<div class="col-lg-8 mb-4 mt-1 me-0" align="center" style="margin-top: 8px;">
						<div id="carouselExampleIndicators" class="carousel slide"
							data-bs-ride="carousel">
							<div class="carousel-indicators">
								<button type="button"
									data-bs-target="#carouselExampleIndicators"
									data-bs-slide-to="0" class="active" aria-current="true"
									aria-label="Slide 1"></button>
								<button type="button"
									data-bs-target="#carouselExampleIndicators"
									data-bs-slide-to="1" aria-label="Slide 2"></button>
								<button type="button"
									data-bs-target="#carouselExampleIndicators"
									data-bs-slide-to="2" aria-label="Slide 3"></button>
								<button type="button"
									data-bs-target="#carouselExampleIndicators"
									data-bs-slide-to="3" aria-label="Slide 4"></button>
							</div>
							<div class="carousel-inner overfit" style="border-top-left-radius: 10px; border-bottom-left-radius: 10px;">
								<div class="carousel-item active">
									<img th:src="@{/img/__${room.name}__1.PNG}"
										class="d-block w-100 img-fluid" alt="...">
								</div>
								<div class="carousel-item">
									<img th:src="@{/img/__${room.name}__2.PNG}"
										class="d-block w-100" alt="...">
								</div>
								<div class="carousel-item">
									<img th:src="@{/img/__${room.name}__3.PNG}"
										class="d-block w-100" alt="...">
								</div>
								<div class="carousel-item">
									<img th:src="@{/img/__${room.name}__4.PNG}"
										class="d-block w-100" alt="...">
								</div>
							</div>
							<button class="carousel-control-prev" type="button"
								data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Previous</span>
							</button>
							<button class="carousel-control-next" type="button"
								data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Next</span>
							</button>
						</div>
					</div>
					<div class="col-lg-4 ms-0 mt-1 mb-4 p-3 side-section" align="left" >
						<div style="font-size: 17px">X점
							<div class="star-ratings" th:data-id="${room.id}">
								<div class="star-ratings-fill space-x-2 text-lg"
									style="width: 100%">
									<span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
								</div>
								<div class="star-ratings-base space-x-2 text-lg">
									<span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
								</div>
							</div>
						</div>
						<!-- form 시작 -->
						<div class="menu" style="font-size: 18px;">
							<form th:action="@{/res/reserve/{id}(id=${room.id})}"
								method="post" th:object="${reserveDto}">
								<hr />
								인원 선택&nbsp;
								<br>	
								<select th:field="*{person}" style="width: 40%; height:38px; border-radius: 5px;">
									<option th:value=2 selected th:inline="text">[[${2}]]인</option>
									<option th:value=3 th:inline="text">[[${3}]]인</option>
									<option th:value=4 th:inline="text">[[${4}]]인</option>
								</select>
								<hr />
								<div class="date">
								<span class="chan-text">
									날짜 선택(달력에서 날짜를 선택해주세요.)</span>
									<br>
									<div class="d-flex justify-content-middle">
									<button type="button" id="res_buton" class="btn btn-secondary me-2"
										data-bs-toggle="modal" data-bs-target="#date">달력 보기</button>
										
									<input type="hidden" name="d">
									<select class="me-2 RentTime" disabled="disabled"  style="height: 38px; width:90px; border-radius: 5px;">
										<option value="" disabled selected>대여시간</option>
										<option value=3 th:data-price="${room.roomtype.price1}">3H</option>
										<option value=6 th:data-price="${room.roomtype.price2}">6H</option>
										<option value=15 th:data-price="${room.roomtype.price3}">AllNight</option>
									</select>
									<select class="S" id="T3" style="display:none;">
										<option value="" disabled selected>대여시작시간</option>
										<option th:each ="num : ${#numbers.sequence(10, 21)}" th:text="|${num}시|" th:value="${num}"></option>
									</select>
									<select class="S" id="T6" style="display:none;">
										<option value="" disabled selected>대여시작시간</option>
										<option th:each ="num : ${#numbers.sequence(10, 18)}" th:text="|${num}시|" th:value="${num}"></option>
									</select>
									<select class="S" id="TA" style="display:none;">
										<option value="" disabled selected>대여시작시간</option>
										<option value=18>18시</option>
									</select>
									</div>
									<hr>
									<div>선택 날짜</div>
									<input type="text" class="me-0" th:field="*{start_time}" id="start_time" readonly="readonly"><input type="text" class="ms-0 act1" th:field="*{end_time}" id="end_time" readonly="readonly"> 
									<input type="number" th:field="*{totalprice}" hidden="hidden"> 
									<input type="text" th:field="*{options}" hidden="hidden">
									<hr>
									
								</div>
								<script type="text/javascript" th:inline="javascript">
								
								
								</script>
								
								<div class="option">
								<span class="chan-text2">옵션(날짜를 먼저 선택해주세요.)</span>
									<div class="d-flex justify-content-middle">
									<select id="selectoption" class="me-3" name="옵션" style="width: 40%; height: 38px; border-radius: 5px;">
									<option disabled="disabled" selected="selected" th:value=30>옵션 선택</option>
										<optgroup th:label="${opt.name}" th:each="opt : ${option}">
											<option th:each="optprice : ${opt.optPrices}"
												th:text="${optprice.content}" th:value="${optprice.id}">1</option>
										</optgroup>
									</select> &nbsp; 
									<button type="button" class="btn btn-secondary add_option me-3 optbtn" disabled="disabled">옵션 추가</button>
									<button type="button" class="btn btn-info"
										data-bs-toggle="modal" data-bs-target="#modaloption">옵션 예시</button>
									</div>
									<hr />
									<div id="printoptions"></div>
								</div>	
								<div class="Reservation">
									<div class="d-flex justify-content-middle my-2 reserv-option">
									<div class=" ps-3 pe-3 reserv-option-body">총가격</div>&nbsp;
									<div id="printtotalprice" class="ps-1" style="color:white;"></div>
									</div>
									<div class="d-flex justify-content-between">
									<button type="reset" class="btn btn-secondary" th:onclick="clearAll()">다시 작성</button>
									<button type="submit" class="btn btn-outline-dark resbutton" style="float: right" th:onclick="return nullck();">예약하기</button>
										</div>
								</div>
							</form>
							<!-- form end -->
						</div>
					</div>
				</div>
			</div>
			<br>
			<div class="d-flex justify-content-center">
			<button type="button" th:onclick="|location.href='@{/res}'|">메인으로</button>
			</div>
			<br> <br>
			<!-- Modal -->
			<div class="modal fade " id="date" data-bs-keyboard="false"
				tabindex="-1" aria-labelledby="BackdropLabel" aria-hidden="true">
				<div class="modal-dialog modal-xl">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="BackdropLabel">예약현황</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div class="content-wrap">
								<div class="content-right">
									<table id="calendar" align="center">
										<thead>
											<tr class="btn-wrap clearfix" id="calendar_title">
												<td id="prev_td"><label id="prev"> &#60; </label></td>
												<td align="center" id="current-year-month" colspan="5"><span
													id="current-year-month"></span></td>
												<td id="next_td"><label id="next"> &#62; </label></td>
											</tr>
											<tr>
												<td class="sun" align="center">Sun</td>
												<td align="center">Mon</td>
												<td align="center">Tue</td>
												<td align="center">Wed</td>
												<td align="center">Thu</td>
												<td align="center">Fri</td>
												<td class="sat" align="center">Sat</td>
											</tr>
										</thead>
										<tbody id="calendar-body" class="calendar-body"></tbody>
									</table>
								</div>

							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
			<!-- modal end -->

			<!-- 옵션 예시 Button trigger modal -->
			
			<div class="modal fade " id="modaloption" data-bs-backdrop="static"
				data-bs-keyboard="false" tabindex="-1"
				aria-labelledby="staticBackdropLabel" aria-hidden="true">
				<div class="modal-dialog modal-xl modal-dialog-scrollable">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="staticBackdropLabel">옵션</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<div class="modal-body">
												<div class="title" align="center" style="font-size:25px; font-weight: bold; ">옵션 예시
												<br />제공하는 옵션들의 종류입니다.
												</div>
												<hr />
												<div class="content">
													<h3>레터링 초콜릿 케이크 |</h3>
													<img src="/img/chococake1.jpg"
														style="width: 40%; height: 10%;"> <img
														src="/img/chococake2.jpg" style="width: 40%; height: 290px;"><br />
													수제 초콜릿을 이용한 레터링 케이크입니다.<br />(방문 5일전까지 문의를 통해 케이크
													예약이 가능합니다.)
												</div>
												<br /> <br />
												<div class="content">
													<h3>레터링 생크림 케이크 |</h3>
													<img src="/img/creamcake1.PNG"
														style="width: 40%; height: 10%;"> <img
														src="/img/creamcake2.PNG" style="width: 40%; height: 386px;"><br />
													부드러운 생크림을 이용한 레터링 케이크입니다.<br />(방문 5일전까지 문의를 통해 케이크 예약이
													가능합니다.)
												</div>
												<br /> <br />
												<div class="content">
													<h3>페인팅 케이크 |</h3>
													<img src="/img/facecake1.jpg"
														style="width: 40%; height: 10%;"> <img
														src="/img/facecake2.jpg" style="width: 40%; height: 10%;">
													<br /> 고객님의 하나뿐인
													얼굴이 그려진 특별한 케이크를 만들어 드립니다.<br />(방문 5일전까지 문의를 통해 케이크 예약이
													가능합니다.)
												</div>
												<br /> <br />
												<div class="content">
													<h3>파티룸 데코레이션 |</h3>
													<img src="/img/deco1.PNG"
														style="width: 436px; height: 386px;"> <img
														src="/img/deco2.PNG" style="width: 436px; height: 386px;">
													<br /> 파티를 더욱 아름답고 풍성하게 즐기실 수 있는
													데코레이션 입니다.<br />(방문 3일전까지 문의를 통해 데코레이션 컨셉을 정하실 수 있습니다.)
												</div>
												<br /> <br />
												<div class="content">
													<h3>포토 스냅 |</h3>
													<img src="/img/photosnap1.PNG"
														style="width: 436px; height: 386px;"> <img
														src="/img/photosnap2.PNG" style="width: 436px; height: 386px;">
													<br /> 고객님의 가장 행복한 순간을 담아드립니다.<br />(전문가 자격증을 보유한 사진작가님과 함께합니다.)
												</div>
											</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
			<!-- 옵션 예시 modal end -->
			
			<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
			<script
				src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
				integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
				crossorigin="anonymous"></script>
			<script th:inline="javascript" type="text/javascript"
				th:src="@{/js/sch.js}"></script>
		</main>
</th:block>
</html>