<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultarag.net.nz/thymeleaf/layout"
	layout:decorate="layouts/second_layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block layout:fragment="content">
<script th:inline="javascript" th:src="@{/js/reviewwrite.js}"></script>
	<div class="col-md-10 ps-5 pt-5 mb-3" id="main-con">
		<div class="d-flex align-items-center justify-content-center mb-5"
			id="my-text1">My Page</div>
		<div id="profile">
			<img src="/img/cake.jpg" class="img-pluid" id="profile_img">
			<div id="loginid" th:inline="text">[[${name}]]님 
			안녕하세요 이곳은 후기페이지입니다.</div>
		</div>
		<br>
		<div id="content_title">
			<h2>문의 내용</h2>
		</div>
		<hr />
		<form th:action="@{/review/update}" method="post"
			th:object="${review}" enctype="multipart/form-data">
			<div id="content" class="fs-3">
				<input type="hidden" th:field="*{id}">
				<div class="mb-3">
					<label th:for="title" class="form-label">제목</label> <input
						type="text" class="form-control reTitle" th:field="*{title}"
						placeholder="제목">
				</div>
				<div class="mb-3">
					<label th:for="title" class="form-label">점수</label> <input
						type="number" min="1" max="5" class="form-control" th:field="*{score}"
						placeholder="점수">
				</div>
				
	

				
				<div class="mb-3" >
					파일 선택 : <input type="file" class="form-control" multiple="multiple" name="images" id="images"> 
				</div>
				<div class="mb-3" id="review-images"> 
				</div>
				<div class="mb-3" id="img-preview"> 
				</div>
				<div class="mb-3">
					<label th:for="content" class="form-label">리뷰작성</label>
					<textarea class="form-control reCnt" th:field="*{content}" id="content-3" rows="10" placeholder="리뷰를 작성해주세요. 개인정보를 입력하지 않도록 주의하시길 바랍니다."></textarea>
				</div>
				<div id="cont_cnt" class="fs-5 counter">(0 / 700)</div>
				<div class="text-center">
					<input type="hidden" th:name="${_csrf.parameterName}"
						th:value="${_csrf.token}">
					<button class="btn btn-dark">후기 작성</button>
					<button type="button" class="btn btn-secondary" th:onclick="window.history.back()">취소</button>
				</div>
			</div>
		</form>
	</div>
	</div>
	</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
		crossorigin="anonymous"></script>
	<script th:inline="javascript">
	$('#images').on('change', function() {
     	$('#img-preview').html("");
        var imgck = 0;
        var delArray =[];
        var files = $('#images')[0].files;
        var fileArray = Array.from(files);
        const dataTransfer = new DataTransfer();
        $.each(fileArray, function(index,file){
        	ext = file.name.split('.').pop().toLowerCase(); //확장자
        	if($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg']) == -1) {
        		imgck=1;
        	} else {
        		dataTransfer.items.add(file);
           		blobURL = window.URL.createObjectURL(file);
           		console.log(blobURL);
           		var str = "<div><img src='"+blobURL+"' alt='사진미리보기' style='width:160px; height:140px;'></div> ";
           		var $div = $(str);
           		$('#img-preview').append($div);
    	    }	
	        });
		$('#images')[0].files = dataTransfer.files;
		if(imgck==1){
            	window.alert('이미지가 아닌 파일이 있습니다. 가능한 확장자 gif, png, jpg, jpeg');
		}
        });
        //배열에 추출한 확장자가 존재하는지 체크
	</script>
	<script th:inline="javascript">
			$(function() {
				var review_id = $('#id').val();
				console.log(review_id);
				var $imagediv = $('#review-images');
				//사진 데이터 가져오기
				$.ajax({
					type : "GET",
					url : "/review/imgidlist",
					data : {
						review_id : review_id
					},
					success : function(result) {
						for (var i = 0; i < result.length; i++) {
							var str = "";
							var str = "<div class='my-3' id='img"+result[i].id+"'><img src='"+result[i].path+"' alt='사진미리보기' style='width:160px; height:140px;'><br><button type='button' class='btn btn-dark' onclick='delck("+result[i].id+")'>삭제</button></div> ";
			           		$imagediv.append(str);
						}
					},
					error : function() {
					}
				}); //$.ajax
			});
			function delck(imgid){
				if(window.confirm("정말 삭제하시겠습니까?")){
					$('#img'+imgid).remove();
					$.ajax({
						type : "GET",
						url : "/review/imgdel",
						data : {
							imgid : imgid
						},
						success : function() {
						},
						error : function() {
						}
					}); //$.ajax
				}else{
				}
			}
		</script>
	</main>
</th:block>
</html>