<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultarag.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/first_layout}">

<th:block layout:fragment="content">
	<link th:href="@{/css/reviewPage.css}" rel="stylesheet">
	<main role="main">
		<div class="container mt-5">
			<div class="d-flex align-items-center justify-content-center mb-5"
				id="review-text1">Review</div>
			<form method="post" th:action="@{/card}" class="select-form">
			<div id="content_title" class="d-flex justify-content-between">
				<h2>문의내역</h2>
				<div>
				<select th:name="roomid" class="sel-box">
				<option value="" selected disabled>방 이름</option>
				<option value=1>미니룸A</option>
				<option value=2>미니룸B</option>
				<option value=3>파티룸A</option>
				<option value=4>파티룸B</option>
				</select>
				</div>
			</div>
			</form>
			<div class="row">
				<th:block th:each="review :${list}">
					<div class="col-md-6 my-5 card-group over">
						<div class="card mb-4 shadow-sm wrapper" id="review-card">
							<a class="d-block h-100" data-bs-toggle="modal"
								th:data-bs-target="'#reviewModal'+${review.id}"> <img
								class="card-img-top" name="modal-image"
								th:data-id="${review.id}" src="/img/picture.jpg"
								onerror="this.src='/img/picture.jpg'" alt="이미지가 없습니다"></a>
							<div class="card-title pt-3" id="title"
								style="text-align: center;" th:text="${review.title}"></div>
							<div class="card-body ps-3 ms-0 me-0">
								<div id="desc" th:text="${review.room.name}">룸 종류</div>
								<div class="row justify-content-between">
									<div class="col-4" align="right" 
									th:text="${#dates.format(review.cdate,'yyyy-MM-dd')}"></div>
								</div>
								<div></div>
							</div>
						</div>
					</div>
					
					<!-- Modal -->
					<div class="modal fade" th:id="'reviewModal'+${review.id}"
						tabindex="-1" aria-labelledby="reviewModalLabel"
						aria-hidden="true">
						<div class="modal-dialog modal-fullsize modal modal-lg modal-dialog-centered" style="height: 600px;">
							<div class="modal-content modal-fullsize">
								<div class="modal-header modal-fullsize">
									<h5 class="modal-title modal-fullsize" id="reviewModalLabel"
										th:text="${review.title}">{Review Title}</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<div class="row">
										<div class="col-md-12">
											<div th:id="'carouselreviewIndicators'+${review.id}" class="carousel slide"
												data-bs-ride="carousel">
												<div class="carousel-inner" th:data-id="${review.id}">
												</div>
												<button class="carousel-control-prev" type="button"
													th:data-bs-target="'#carouselreviewIndicators'+${review.id}"
													data-bs-slide="prev">
													<span class="carousel-control-prev-icon" aria-hidden="true"></span>
													<span class="visually-hidden">Previous</span>
												</button>
												<button class="carousel-control-next" type="button"
													th:data-bs-target="'#carouselreviewIndicators'+${review.id}"
													data-bs-slide="next">
													<span class="carousel-control-next-icon" aria-hidden="true"></span>
													<span class="visually-hidden">Next</span>
												</button>
											</div>
											</div>
											<!-- 이미지 하나 출력
											<img class="card-img-top" name="modal-image"
												th:data-id="${review.id}" src="/img/picture.jpg"
												onerror="this.src='/img/picture.jpg'" alt="이미지가 없습니다"> -->
										</div>
										<div class="row">
										<div class="col-md-12 p-3">
											<div class="border-bottom mb-2 pb-2" style="font-weight:bold; font-size: 35px;" th:inline="text">[[${review.title}]]</div>
											<div th:inline="text">작성자 : [[${review.member.name}]]</div>
											<div class="mb-3" th:inline="text">별점 : [[${review.score}]]점</div>
											<hr>
											<div th:text="${review.content}">{내용}</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</th:block>
			</div>
			<br>
			<br>
			<br>
			<div style="min-height: 500px;"></div>
			<div align="right">
			<button type="button" class="btn btn-outline-secondary" onclick='location.href="#review-text1"'>
			   ▲ 맨위로</button>
			</div>
					<div class="my-5" align="center">
		<div class="btn-group d-flex justify-content-evenly" id="page_div">
			<button type="button" class="btn btn-dark" th:onclick='|location.href="@{/card(page = 0)}"|' id="page"><<</button>
			<th:block th:each="page:${#numbers.sequence(startPage,endPage)}">
				<button type="button" class="btn btn-outline-secondary" th:if="${page != nowPage}" th:onclick='|location.href="@{/card(page = ${page -1})}"|'
					th:text="${page}" id="page"></button>
				<button type="button" class="btn btn-dark" th:if="${page == nowPage}" th:text="${page}" id="page_now"></button>
			</th:block>
			<button type="button" class="btn btn-dark" th:onclick='|location.href="@{/card(page = ${lastPage-1})}"|' id="page">>></button>
		</div>
		</div>		
		</div>


		<!-- Bootstrap core JavaScript
    ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
			<script th:inline="javascript" type="text/javascript"
				th:src="@{/js/review.js}"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
			crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"></script>
			<script th:inline="javascript" type="text/javascript"
				th:src="@{/js/review.js}"></script>
	</main>
	<br>
	<br>
</th:block>
</html>