<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<th:block th:insert="~{fragments/head :: headFragment}"></th:block>

</head>
<body>
	<th:block th:insert="~{fragments/header :: headerFragment}"></th:block>
	<th:block th:insert="~{fragments/header3 :: header3Fragment}"></th:block>
	<th:block layout:fragment="content"></th:block>
	<th:block th:insert="~{fragments/footer :: footerFragment}"></th:block>
</body>
</html>