<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<div>
		<form th:action="@{/member/login}" method="post">
			<div class="form-group">
				<label for="useremail">이메일</label> 
				<input type="email" id="useremail" name="email" class="form-control">
			</div>
			<div class="form-group">
				<label for="userpwd">비밀번호</label> 
				<input type="password" id="userpwd" name="password" class="form-control">
			</div>
			<button type="submit">작성</button>
		</form>
	</div>
</body>
</html>