<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultarag.net.nz/thymeleaf/layout"
	layout:decorate="layouts/second_layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block layout:fragment="content">
	<div class="col-md-10 ps-5 pt-5 mb-5" id="main-con">
		<br> <br> <br> <br>
		<div id="content_title" class="fs-2">회원탈퇴</div>
		<hr />
		<div id="content" style="white-space: pre-line; font-size: 25px;" sec:authorize="hasRole('USER')">
			정말로 탈퇴하시겠습니까? 
			회원의 정보는 매달 마지막 금요일까지 비활성화되며, 유예기간 후 삭제되어 다시 복구할 수 없습니다.

			동의하신다면 버튼을 눌러주세요. <br>

			<button type="button" class="btn btn-danger btn-lg"
				th:onclick="|location.href='@{/member/secession}'|"
				sec:authorize="hasRole('USER')">동의</button>
		</div>
		
		<div id="content" style="white-space: pre-line; font-size: 25px;" sec:authorize="hasRole('KUSER')">
			정말로 탈퇴하시겠습니까? 
			카카오 유저의 회원정보는 탈퇴시 즉시 삭제되며, 유예기간이 주어지지 않습니다.

			동의하신다면 버튼을 눌러주세요. <br>

			<button type="button" class="btn btn-danger btn-lg"
				th:onclick="|location.href='@{/kakao/secession/{email}(email=${email})}'|"
				>동의</button>

		</div>

	</div>

	</div>
	</div>
	</div>
	</main>
</th:block>
</html>