<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultarag.net.nz/thymeleaf/layout"
	layout:decorate="layouts/first_layout">
<th:block layout:fragment="content">
	<link href="/css/mypage.css" rel="stylesheet">
	<main role="main">
		<div class="album py-0">
			<div class="container">
				<div class="row">
					<div class="col-md-2" id="side-bar">
						<div class="grid">
							<div th:onclick="|location.href='@{/mypage}'|">주문조회</div>
							<div th:onclick="|location.href='@{/mypage/wishlist}'|">찜목록</div>
							<div th:onclick="|location.href='@{/mypage/QAlist}'|">1:1문의</div>
							<div th:onclick="#">정보수정</div>
							<div th:onclick="|location.href='@{/mypage/acc_del}'|">회원탈퇴</div>
						</div>
					</div>
					<nav class="navbar navbar-expand-lg mt-3" id="mb-bar">
						<button class="navbar-toggler" type="button"
							data-toggle="collapse" data-target="#navbarNavAltMarkup"
							aria-controls="navbarNavAltMarkup" aria-expanded="false"
							aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span> 페이지 메뉴
						</button>
						<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
							<div class="navbar-nav">
								<div class="nav-item nav-link active" id="bar-menu"
									th:onclick="|location.href='@{/mypage}'|">주문조회</div>
								<div class="nav-item nav-link active" id="bar-menu"
									th:onclick="|location.href='@{/mypage/wishlist}'|">찜목록</div>
								<div class="nav-item nav-link active" id="bar-menu"
									th:onclick="|location.href='@{/mypage/QAlist}'|">1:1문의</div>
								<div class="nav-item nav-link active" id="bar-menu"
									th:onclick="#">정보수정</div>
								<div class="nav-item nav-link active" id="bar-menu"
									th:onclick="|location.href='@{/mypage/acc_del}'|">회원탈퇴</div>
							</div>
						</div>
					</nav>
					<div class="col-md-10 ps-5 pt-5 mb-5" id="main-con">
					<br><br><br><br>
							
						<div id="content_title" class="fs-2">회원탈퇴</div>
						<hr />
						<div id="content" style="white-space:pre-line; font-size:25px;">
							정말로 탈퇴하시겠습니까? 탈퇴된 회원의 정보는 즉시 삭제되며, 정보는 다시 복구할 수 없습니다.
							동의하신다면 확인을 눌러주세요.
							<br>
							<button type="button" class="btn btn-primary" th:onclick="|location.href='@{/member/secession}'|" >동의</button>
							</div>
						</div>
					
				</div>
			</div>
		</div>
	</main>
</th:block>
</html>