<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultarag.net.nz/thymeleaf/layout"
	layout:decorate="layouts/second_layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block layout:fragment="content">
	<div class="col-md-10 ps-5 pt-5 mb-5" id="main-con">
		<br>
		<br>
		<br>
		<br>

		<div id="content_title" class="fs-2">회원탈퇴</div>
		<hr />
		<div id="content" style="white-space: pre-line; font-size: 25px;">
			정말로 탈퇴하시겠습니까? 회원의 정보는 2주간 비활성화되며 유예기간 후 삭제되어 다시 복구할 수 없습니다. 동의하신다면
			버튼을 눌러주세요. <br>
			<button type="button" class="btn btn-danger btn-lg"
				th:onclick="|location.href='@{/member/secession}'|">동의</button>
		</div>
	</div>

	</div>
	</div>
	</div>
	</main>
</th:block>
</html>