<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultarag.net.nz/thymeleaf/layout"
	layout:decorate="layouts/second_layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block layout:fragment="content">
	<div class="col-md-10 ps-5 pt-5" id="main-con">
		<div class="d-flex align-items-center justify-content-center mb-5"
			id="my-text1">My Page</div>
		<div id="profile">
			<img src="/img/cake.jpg" class="img-pluid" id="profile_img">
			<div id="loginid" th:inline="text">[[${name}]]님 
			안녕하세요 이곳은 마이페이지입니다.</div>
		</div>
		<div id="content_title">
			<h2>주문조회</h2>
		</div>
		<hr />
		<div id="content" align="center">
			<table class="table table-striped table-bordered fs-5">
				<thead>
					<tr>
						<th scope="col"></th>
						<th scope="col">상품명</th>
						<th scope="col">예약일자</th>
						<th scope="col">가격</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">1</th>
						<td>미니룸A</td>
						<td>2022-11-18</td>
						<td>220,000원</td>
					</tr>
					<tr>
						<th scope="row">2</th>
						<td>파티룸A</td>
						<td>2022-11-28</td>
						<td>240,000원</td>
					</tr>
					<tr>
						<th scope="row">3</th>
						<td>파티룸B</td>
						<td>2022-12-08</td>
						<td>260,000원</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	</div>
	</div>
	</div>
</th:block>
</html>