<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultarag.net.nz/thymeleaf/layout"
	layout:decorate="layouts/second_layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block layout:fragment="content">

	<div class="col-md-10 ps-5 pt-5" id="main-con">
		<div class="d-flex align-items-center justify-content-center mb-5"
			id="my-text1">My Page</div>
		<div id="profile">
			<img src="/img/cake.jpg" class="img-pluid" id="profile_img">
			<div id="loginid" th:inline="text">[[${member.name}]]님 안녕하세요
				이곳은 문의페이지입니다.</div>
		</div>
		<div id="content_title" class="fs-3">
			1:1문의 <a th:href="@{/mypage/QAwrite}"
				class="text-decoration-none text-dark float-end">문의하기</a>
		</div>
		<hr />
		<div id="content">
			<div class="mb-3 row">
				<div class="fs-1 col-sm-2">제목 :</div>
				<div class="fs-1 col-sm-10" th:text="${askBoard.title}"></div>
			</div>
			<hr />
			<div class="mb-3 row">
				<div class="fs-5 col-sm-2">문의내역:</div>
				<div class="fs-5 col-sm-10" th:text="${askBoard.content}"></div>
			</div>
		</div>
		<div id="answer">
			<hr />
			<div class="mb-3 row">
				<div class="fs-5 col-sm-2">문의답변:</div>
				<div class="fs-5 col-sm-10" th:text="${askBoard.answer}"></div>
			</div>
			<hr />
		</div>
	</div>
	</div>
	</div>
	</div>
	</main>
</th:block>
</html>