<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultarag.net.nz/thymeleaf/layout"
	layout:decorate="layouts/first_layout">
<th:block layout:fragment="content">
	<link th:href="@{/css/mypage.css}" rel="stylesheet">
	<main role="main">
		<div class="album py-0">
			<div class="container">
				<div class="row">
					<div class="col-md-2" id="side-bar">
						<div class="grid">
							<div th:onclick="|location.href='@{/mypage}'|">주문조회</div>
							<div th:onclick="|location.href='@{/mypage/wishlist}'|">찜목록</div>
							<div th:onclick="|location.href='@{/mypage/QAlist}'|">1:1문의</div>
							<div th:onclick="|location.href='@{/mypage/editinfo}'|">정보수정</div>
							<div th:onclick="|location.href='@{/mypage/acc_del}'|">회원탈퇴</div>
						</div>
					</div>

					<nav class="navbar navbar-expand-lg mt-3" id="mb-bar">
						<button class="navbar-toggler" type="button"
							data-toggle="collapse" data-target="#navbarNavAltMarkup"
							aria-controls="navbarNavAltMarkup" aria-expanded="false"
							aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span> 페이지 메뉴
						</button>
						<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
							<div class="navbar-nav">
								<div class="nav-item nav-link active" id="bar-menu"
									th:onclick="|location.href='@{/mypage}'|">주문조회</div>
								<div class="nav-item nav-link active" id="bar-menu"
									th:onclick="|location.href='@{/mypage/wishlist}'|">찜목록</div>
								<div class="nav-item nav-link active" id="bar-menu"
									th:onclick="|location.href='@{/mypage/QAlist}'|">1:1문의</div>
								<div class="nav-item nav-link active" id="bar-menu"
									th:onclick="|location.href='@{/mypage/editinfo}'|">정보수정</div>
								<div class="nav-item nav-link active" id="bar-menu"
									th:onclick="|location.href='@{/mypage/acc_del}'|">회원탈퇴</div>
							</div>
						</div>
					</nav>
					<div class="col-md-10 ps-5 pt-5 mb-3" id="main-con">
					<div class="d-flex align-items-center justify-content-center mb-5"
							id="my-text1">My Page</div>
							<div id="profile">
						<img src="/img/cake.jpg" class="img-pluid" id="profile_img"> <div id="loginid" th:inline="text">[[${member.name}]]님 
						안녕하세요 이곳은 문의페이지 입니다.</div>
						</div>
						<br>
							<div id="content_title">
							<h2>문의 내용</h2></div>
							<hr />
							<div id="content" class="fs-3">
								<div class="mb-3">
									<label for="exampleFormControlInput1" class="form-label">제목</label>
									<input type="text" class="form-control"
										id="exampleFormControlInput1" placeholder="문의의 핵심 내용을 적어주세요." readonly>
								</div>
									<div class="mb-3">
								<label for="exampleFormControlInput1" class="form-label">문의
									종류</label> <select class="form-select"
									aria-label="Default select example">
									<option selected value="1">예약</option>
									<option value="2">옵션</option>
									<option value="3">환불</option>
									<option value="4">기타</option>
								</select>
							</div>
								<div class="mb-3">
									<label for="exampleFormControlTextarea1" class="form-label">문의사항</label>
									<textarea class="form-control" id="exampleFormControlTextarea1"
										rows="10" placeholder="문의를 입력해주세요. 내용에 개인정보를 입력하지 않게 주의하시길 바랍니다."
										readonly></textarea>
								</div>
								<div class="text-center">
									<button class="btn btn-primary">문의 작성</button>
									<button class="btn btn-secondary" th:onclick="window.history.back()">취소</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</main>
</th:block>
</html>