<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultarag.net.nz/thymeleaf/layout"
	layout:decorate="layouts/first_layout">

<th:block layout:fragment="content">
<link href="css/pricePage.css" rel="stylesheet">

<div class="container ms-2 ms-md-auto me-0 me-md-auto">
		<div class="row" id="txt">
			<div class="col-md-12 align-self-center">
				<p id="title-text2">금액 상세정보</p>
				<p id="mobile-text1">(PC에서 자세히 확인)</p>
			</div>
			<br>
		</div>
		
		<div id="room-font">미니룸 평일 <span id=allnight-font>(올나잇 오후 6시 ~ 다음날 오전 9시)</span></div>
		
		<div class="row" id="table-hd">
			<div class="col-md-3 align-self-center">룸 종류</div>
			<div class="col-md-3 align-self-center">3H(2인기준)</div>
			<div class="col-md-3 align-self-center">6H(2인기준)</div>
			<div class="col-md-3 align-self-center">올나잇(2인기준)</div>
		</div>
		
		<div class="row" id="table-con">
			<div class="col-md-3 align-self-center">미니룸 A/B (최대 4인)</div>
			<div class="col-md-3 align-self-center">40,000원</div>
			<div class="col-md-3 align-self-center">60,000원</div>
			<div class="col-md-3 align-self-center">140,000원</div>
		</div>
		
		<div id="room-font">미니룸 주말 <span id=allnight-font>(올나잇 오후 6시 ~ 다음날 오전 9시)</span></div>
		<div class="row" id="table-hd">
			<div class="col-md-3 align-self-center">룸 종류</div>
			<div class="col-md-3 align-self-center">3H(2인기준)</div>
			<div class="col-md-3 align-self-center">6H(2인기준)</div>
			<div class="col-md-3 align-self-center">올나잇(2인기준)</div>
		</div>
		<div class="row" id="table-con">
			<div class="col-md-3 align-self-center">미니룸 A/B (최대 4인)</div>
			<div class="col-md-3 align-self-center">50,000원</div>
			<div class="col-md-3 align-self-center">85,000원</div>
			<div class="col-md-3 align-self-center">170,000원</div>
		</div>
		<div class="row" id="notice-font">**시간제 기준인원 2인 초과시 인당 5,000원 추가</div>
		<div class="row" id="notice-font">**올나잇 기준인원 2인 초과시 인당10,000원 추가</div>
		<br>
		<br>
		
		
		<div id="room-font">파티룸 평일 <span id=allnight-font>(올나잇 오후 6시 ~ 다음날 오전 9시)</span></div>
		<div class="row" id="table-hd">
			<div class="col-md-3 align-self-center">룸 종류</div>
			<div class="col-md-3 align-self-center">3H(5인기준)</div>
			<div class="col-md-3 align-self-center">6H(5인기준)</div>
			<div class="col-md-3 align-self-center">올나잇(5인기준)</div>
		</div>
		
		<div class="row" id="table-con">
			<div class="col-md-3 align-self-center">파티룸 A/B (최대 8인)</div>
			<div class="col-md-3 align-self-center">90,000원</div>
			<div class="col-md-3 align-self-center">120,000원</div>
			<div class="col-md-3 align-self-center">200,000원</div>
		</div>
		
		<div id="room-font">파티룸 주말 <span id=allnight-font>(올나잇 오후 6시 ~ 다음날 오전 9시)</span></div>
		<div class="row" id="table-hd">
			<div class="col-md-3 align-self-center">룸 종류</div>
			<div class="col-md-3 align-self-center">3H(5인기준)</div>
			<div class="col-md-3 align-self-center">6H(5인기준)</div>
			<div class="col-md-3 align-self-center">올나잇(5인기준)</div>
		</div>
		<div class="row" id="table-con">
			<div class="col-md-3 align-self-center">파티룸 A/B (최대 4인)</div>
			<div class="col-md-3 align-self-center">110,000원</div>
			<div class="col-md-3 align-self-center">140,000원</div>
			<div class="col-md-3 align-self-center">220,000원</div>
		</div>
		<div class="row" id="notice-font">**시간제 기준인원 2인 초과시 인당 7,500원 추가</div>
		<div class="row" id="notice-font">**올나잇 기준인원 2인 초과시 인당15,000원 추가</div>
		</div>
		
		<div class="container ms-2 ms-md-auto me-0 me-md-auto">
		<div class="row" id="txt">
			<div class="col-md-12 align-self-center">
				<p id="title-text2">Single Service 
				단품 서비스</p>
				<p id="mobile-text1">(PC에서 자세히 확인)</p>
			</div>
			<br>
		</div>
		<div class="row" id="table-hd">
			<div class="col-md-4 align-self-center">서비스</div>
			<div class="col-md-4 align-self-center">단가</div>
			<div class="col-md-4 align-self-center">내용</div>
		</div>
		<div class="row" id="table-con">
			<div class="col-md-4 align-self-center">포토스냅</div>
			<div class="col-md-4 align-self-center">10만원/12만원</div>
			<div class="col-md-4 align-self-center">스냅 A / 스냅 B</div>
		</div>
		<div class="row" id="table-con">
			<div class="col-md-4 align-self-center">파티룸 데코레이션</div>
			<div class="col-md-4 align-self-center">풍선 및 룸 데코레이션 : 5만원 
			플랜카드 제작 : 3만원 
			세트 : 7만원</div>
			<div class="col-md-4 align-self-center">풍선 및 데코레이션 스타일 A/B/C중 택1 
			플랜카드 제작시 문구 및 사진인쇄 가능</div>
		</div>
		<div class="row" id="table-con">
			<div class="col-md-4 align-self-center">케이크</div>
			<div class="col-md-4 align-self-center">레터링 케이크 : 5만원 
			얼굴 인화 케이크 : 7만원</div>
			<div class="col-md-4 align-self-center">최고의 품질로 만든 수제 케이크 초코/생크림 택1</div>
		</div>
		<div class="row" id="table-con">
			<div class="col-md-4 align-self-center">주류,얼음 및 아이스박스</div>
			<div class="col-md-4 align-self-center">콜라/사이다/환타 : 1200원 
			물 : 1000원 
			소주 : 1600원 / 맥주 : 2000원 / 양주 : 문의</div>
			<div class="col-md-4 align-self-center">파티 시작시 바로 시원하게 즐기실 수 있도록 미리 시원한 주류들을 냉장 보관 및 아이스박스 보관해드립니다!</div>
		</div>
		<div class="row" id="table2-hd">
			<div class="col-4 align-self-center">서비스</div>
			<div class="col-4 align-self-center">단가</div>
			<div class="col-4 align-self-center">내용</div>
		</div>
		<div class="row" id="table2-con">
			<div class="col-4 align-self-center">포토스냅</div>
			<div class="col-4 align-self-center">10만원/12만원</div>
			<div class="col-4 align-self-center">스냅 A / 스냅 B</div>
		</div>
		<div class="row" id="table2-con">
			<div class="col-4 align-self-center">파티룸 데코레이션</div>
			<div class="col-4 align-self-center">풍선 및 룸 데코레이션 플랜카드 제작 세트</div>
			<div class="col-4 align-self-center">풍선 데코 스타일 A/B/C 택1 플랜카드
				제작시 문구 +사진인쇄 O</div>
		</div>
		<div class="row" id="table2-con">
			<div class="col-4 align-self-center">케이크</div>
			<div class="col-4 align-self-center">레터링 케이크 얼굴 인화 케이크</div>
			<div class="col-4 align-self-center">최고 품질 수제 케이크 초코/생크림 택1</div>
		</div>
		<div class="row" id="table2-con">
			<div class="col-4 align-self-center">주류,얼음 및 아이스박스</div>
			<div class="col-4 align-self-center">콜라/사이다/환타 and 물 and 주류
			(양주는	문의)</div>
			<div class="col-4 align-self-center">예약시 냉장 보관 및 아이스박스 보관 서비스</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<div class="container  ms-2 ms-md-auto me-0 me-md-auto">
		<div class="row" id="txt">
			<div class="col-md-12 align-self-center">
				<p id="title-text2">Package Service 
				패키지 서비스</p>
			</div>
			<br>
		</div>
		<div class="row" id="table-hd">
			<div class="col-md-4 align-self-center">서비스</div>
			<div class="col-md-4 align-self-center">단가</div>
			<div class="col-md-4 align-self-center">내용</div>
		</div>
		<div class="row" id="table-con">
			<div class="col-md-4 align-self-center">올인원 패키지(Hot!)</div>
			<div class="col-md-4 align-self-center">23만원</div>
			<div class="col-md-4 align-self-center">포토스냅B + 파티룸 데코레이션 세트 +
				얼굴인화 케이크</div>
		</div>
		<div class="row" id="table-con">
			<div class="col-md-4 align-self-center">내맘쏙 패키지 A</div>
			<div class="col-md-4 align-self-center">18만원</div>
			<div class="col-md-4 align-self-center">포토스냅B + 파티룸 데코레이션 세트</div>
		</div>
		<div class="row" id="table-con">
			<div class="col-md-4 align-self-center">내맘쏙 패키지 B</div>
			<div class="col-md-4 align-self-center">16만원</div>
			<div class="col-md-4 align-self-center">포토스냅A + 얼굴인화 케이크</div>
		</div>
		<div class="row" id="table-con">
			<div class="col-md-4 align-self-center">내맘쏙 패키지 C</div>
			<div class="col-md-4 align-self-center">11만원</div>
			<div class="col-md-4 align-self-center">파티룸 데코레이션 세트 + 레터링 케이크</div>
		</div>
		<div class="row" id="table2-hd">
			<div class="col-4 align-self-center">서비스</div>
			<div class="col-4 align-self-center">단가</div>
			<div class="col-4 align-self-center">내용</div>
		</div>
		<div class="row" id="table2-con">
			<div class="col-4 align-self-center">올인원 패키지(Hot!)</div>
			<div class="col-4 align-self-center">23만원</div>
			<div class="col-4 align-self-center">포토스냅B + 파티룸 데코레이션 세트 +
				얼굴인화 케이크</div>
		</div>
		<div class="row" id="table2-con">
			<div class="col-4 align-self-center">내맘쏙 패키지 A</div>
			<div class="col-4 align-self-center">18만원</div>
			<div class="col-4 align-self-center">포토스냅B + 파티룸 데코레이션 세트</div>
		</div>
		<div class="row" id="table2-con">
			<div class="col-4 align-self-center">내맘쏙 패키지 B</div>
			<div class="col-4 align-self-center">16만원</div>
			<div class="col-4 align-self-center">포토스냅A + 얼굴인화 케이크</div>
		</div>
		<div class="row" id="table2-con">
			<div class="col-4 align-self-center">내맘쏙 패키지 C</div>
			<div class="col-4 align-self-center">11만원</div>
			<div class="col-4 align-self-center">파티룸 데코레이션 세트 + 레터링 케이크</div>
		</div>
	</div>
	<br>
	<br>
	<br>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
			crossorigin="anonymous"></script>
</th:block>
</html>