@charset "utf-8";


.card-img-top {
	height: 300px;
	object-fit: cover;
}

@media screen and (min-width:991px) {
	#mobile-pool {
		display: none;
	}
}

@media screen and (max-width:992px) {
	#web-pool {
		display: none;
	}

}

#card-main {
	margin: 0 auto;
	max-width: 850px;
}

#card-title {
	font-size: 25px;
	font-weight: 500;
}
	#card-title-2 {
	font-size: 20px;
	font-weight: 500;
}	