@charset "utf-8";

#agree-text1 {
	font-weight: 700;
	font-family: 'Dancing Script', cursive;
	font-size: 60px;
	color: #483d8b;
}

textarea{
	white-space: pre-line;
	resize: none;
}
.main-con{
	min-height:600px;
}
textarea:-webkit-scrollbar {
    display: none;
}