@charset "utf-8";

@media screen and (min-width:1560px) {
	#intro-text {
		height: 1200px;
		color: white;
		font-size: 250%;
		font-weight: 900;
	}
}

@media screen and (max-width:1559px) {
	#intro-text {
		height: 1200px;
		color: white;
		font-size: 200%;
		font-weight: 900;
	}
}

#intro-pic {
	background: url("../img/intro_pic.jpg") center no-repeat;
	background-size: cover;
	height: 1080px;
	opacity: 78%;
}
