@charset "utf-8";

html, body {
	height: 100%;
}

body {
	align-items: center;
}

#prev-button-img {
	width: 50px;
	height: 50px;
}

#prev-button-img:hover {
	cursor: pointer;
}

.form-signin {
	max-width: 450px;
	padding: 15px;
}

#login-text {
	font-size: 100%;
}

#login-text2 {
	font-weight:700;
	font-family: 'Dancing Script', cursive;
	font-size: 60px;
	color:#483d8b;
}

.form-signin .form-floating:focus-within {
	z-index: 2;
}

.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}