@charset "UTF-8";

#profile {
	font-size: 40px;
	margin-bottom: 30px;
}

#profile_img {
	width: 80px;
	height: 80px;
	border-radius: 70%;
}

#content_title {
	margin-bottom: 30px;
}

#content {
	font-size: 30px;
}