@charset "UTF-8";

#profile {

	margin-bottom: 30px;
}

#my-text1{
	font-weight:700;
	font-family: 'Dancing Script', cursive;
	font-size: 60px;
	color:#483d8b;
}

#profile_img {
	width: 80px;
	height: 80px;
	border-radius: 70%;
}

#content_title {
	margin-bottom: 30px;
}

#content {
	font-size: 30px;
}
#loginid{
	font-size:20px;
	white-space:pre-line;
}

#loginid:first-line {
	font-weight:bold;
	font-size:40px;
	color:#483d8b;
}