@charset "utf-8";

#price-text1 {
	font-weight: 700;
	font-family: 'Dancing Script', cursive;
	font-size: 60px;
	color: #483d8b;
}

#room-font {
	font-size: 30px;
	font-weight: 900;
	white-space: pre;
}

#title-text2:first-line {
	font-weight: 700;
	font-family: 'Dancing Script', cursive;
	font-size: 60px;
	color: #483d8b;
}

#allnight-font {
	font-size: 20px;
	font-weight: 700;
	color: rgb(192, 57, 43);
}

#notice-font {
	font-size: 20px;
	font-weight: 900;
	color: rgb(230, 126, 34);
}