@charset "utf-8";

#review-text1 {
	font-weight: 700;
	font-family: 'Dancing Script', cursive;
	font-size: 60px;
	color: #483d8b;
}

#review-card {
	max-width: 970px;
}
.wrapper{
	opacity: 0;
	transition: opacity 0.5s;
}
.wrapper.visible {
  opacity: 1;
}

.root-margin{
	background-color: red;
}

#title {
	font-weight: bold;
	font-size: 30px;
}

#modal-image:hover {
	cursor: pointer;
}
.carousel-item {
	background-color:black;
	height: 300px;
}