@charset "utf-8";

.star-ratings {
	font-size: 100%;
	color: #aaa9a9;
	position: relative;
	unicode-bidi: bidi-override;
	width: max-content;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 1.3px;
	-webkit-text-stroke-color: #2b2a29;
	color: #aaa9a9;
	color: #aaa9a9;
}

.star-ratings-fill {
	color: #fff58c;
	padding: 0;
	position: absolute;
	z-index: 1;
	display: flex;
	top: 0;
	left: 0;
	overflow: hidden;
	-webkit-text-fill-color: gold;
}

.star-ratings-base {
	z-index: 0;
	padding: 0;
}

#start_time {
	text-align: center;
	border: none;
	outline: none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-right: 1px solid black;
}

#end_time {
	text-align: center;
	border: 1px;
	outline: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#room-text1 {
	font-weight: 700;
	font-family: 'Dancing Script', cursive;
	font-size: 65px;
	color: #483d8b;
}

.side-section {
	background: #f3f3f3;
	border: solid black;
	border-width: 1px 1px 1px 0px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

#printoptions {
	overflow: auto;
	height: 63px;
	border-bottom: 2px solid black
}

.reserv-option {
	background-color: #7d7d7f;
	border-radius: 5px;
	border: black solid;
	border-width: 1px 1px 1px 0px;
}

.reserv-option-body {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: black solid;
	border-width: 1px 0px 1px 1px;
	background-color: #ffffff;
}

div[id^="room"]{
	
	font-size:20px;
	
}

.overfit>div{
	height: 660px;
}
.overfit img{
	height:100%;
	object-fit: cover;
}