<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultarag.net.nz/thymeleaf/layout"
	layout:decorate="layouts/third_layout">
<th:block layout:fragment="content">
	<link th:href="@{/css/QAanswer.css}" rel="stylesheet">
	<link th:href="@{/css/admin_main.css}" rel="stylesheet">
	<div class="col-md-10 ps-5 pt-5" id="main-con">
		<div class="d-flex align-items-center justify-content-center mb-5"
			id="my-text1">My Page</div>
		<div id="profile">
			<img src="/img/cake.jpg" class="img-pluid" id="profile_img">
			<div id="loginid" th:inline="text">[[${member.name}]]님 
			관리자 페이지에 오신걸 환영합니다.</div>
		</div>
		<div id="content_title" class="fs-3">1:1문의</div>
		<hr />
		<div id="content-QA">
			<div class="mb-3 row">
				<div class="col-sm-2">제목 :</div>
				<div class="col-sm-8" th:text="${askBoard.title}"></div>
				<div id="type" class="col-sm-2"
					th:text="${askBoard.asktype.description}"></div>
			</div>
			<hr />
			<div class="mb-3 row">
				<div class="col-sm-2">문의내역:</div>
				<div class="col-sm-10" th:text="${askBoard.content}"></div>
			</div>
			<hr />
			<div id="answer">
				<div class="mb-3 row d-flex flex-row justify-content-center">
					<form th:action="@{/admin/QAanswer/{id}(id=${askBoard.id})}"
						method="post" th:object="${askBoard}">
						<input type="hidden" th:field="*{title}"> <input
							type="hidden" th:field="*{content}"> <input type="hidden"
							th:field="*{asktype}">
						<div class="row">
							<div class="col-sm-2">
								<label th:for="answer">답변:</label>
							</div>
							<div class="col-sm-10">
								<textarea id="textarea" th:field="*{answer}"
									class="form-control"></textarea>
							</div>
						</div>

						<hr />
						<button id="submit_button" class="col-md-1" type="submit">답변
							전송</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>
	</main>
</th:block>

</html>