<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultarag.net.nz/thymeleaf/layout"
	layout:decorate="layouts/first_layout">
<th:block layout:fragment="content">
	<link href="/css/mypage.css" rel="stylesheet">
	<main role="main">
		<div class="album py-5">
			<div class="container mt-5">
				<div
					class="d-flex align-items-center justify-content-center mb-5 fs-1"
					id="review-text1">1:1문의</div>
				<div class="row">
					<div class="col-md-2">
						<h4>
							<a th:href="@{/mypage}" class="text-decoration-none text-dark">주문조회</a><br />
							<br /> <a th:href="@{mypage/wishlist}" class="text-decoration-none text-dark">위시리스트</a><br />
							<br /> <a th:href="@{mypage/QAlist}" class="text-decoration-none text-dark">1:1문의</a><br />
							<br /> <a href="#" class="text-decoration-none text-dark">정보수정</a><br />
							<br /> <a href="acc_del" class="text-decoration-none text-dark">회원탈퇴</a><br />
						</h4>
					</div>
					<div class="col-md-10">
						<div id="content_title" class="fs-2">문의 내용</div>
						<hr />
						<div id="content" class="fs-3">
							<div class="mb-3">
								<label for="exampleFormControlInput1" class="form-label">제목</label>
								<input type="text" class="form-control"
									id="exampleFormControlInput1" placeholder="예약 문의합니다" readonly>
							</div>
							<div class="mb-3">
								<label for="exampleFormControlselect1" class="form-label">문의 종류</label>
								<input type="text" class="form-control"
									id="exampleFormControlselect1" placeholder="예약" readonly>
							</div>
							<div class="mb-3">
								<label for="exampleFormControlTextarea1" class="form-label">문의사항</label>
								<textarea class="form-control" id="exampleFormControlTextarea1"
									rows="3" placeholder="미니룸A를 예약하려고합니다 결제를 현장에 가서 해도되나요?" readonly></textarea>
							</div>
							<div class="text-center">
							<a href="QAlist" class="text-decoration-none text-dark">뒤로가기</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</th:block>
</html>