<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultarag.net.nz/thymeleaf/layout"
	layout:decorate="layouts/third_layout">
<th:block layout:fragment="content">
	<link th:href="@{/css/admin_main.css}" rel="stylesheet">
	<div class="col-md-10 ps-5 pt-5" id="main-con">
		<div class="d-flex align-items-center justify-content-center mb-5"
			id="my-text1">management</div>
		<div id="profile">
			<div id="loginid" th:inline="text">[[${member.name}]]님 
			관리자 페이지에 오신걸 환영합니다.</div>

			<div id="content_title">
				<h2>문의내역</h2>
			</div>
			<hr />
			<div id="content" class="fs-3">
				<table class="table table-border border-dark">
					<thead class="fs-4">
						<tr>
							<th scope="col" class="fs-3"></th>
							<th scope="col">분류</th>
							<th scope="col">제목</th>
							<th scope="col">작성자</th>
							<th scope="col">작성일</th>
						</tr>
					</thead>
					<tbody class="fs-5">
						<tr th:each="board: ${list}">
							<td th:text="${board.id}"></td>
							<td th:text="${board.asktype.description}"></td>
							<td><a th:text="${board.title}"
								th:href="@{/admin/QAanswer(id=${board.id})}"></a></td>
							<td th:text="${board.member.name}"></td>
							<td th:text="${#dates.format(board.cdate, 'yyyy-MM-dd HH:mm')}"></td>
						</tr>
					</tbody>
				</table>
				<th:block th:each="page:${#numbers.sequence(startPage,endPage)}">
					<a th:if="${page != nowPage}"
						th:href="@{/mypage/QAlist(page = ${page -1})}" th:text="${page}"></a>
					<strong th:if="${page == nowPage}" th:text="${page}"
						style="color: red"></strong>
				</th:block>
			</div>
		</div>
	</div>
	</div>
	</div>
	</main>
</th:block>
</html>