<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultarag.net.nz/thymeleaf/layout"
	layout:decorate="layouts/first_layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block layout:fragment="content">
	<link th:href="@{/css/admin_main.css}" rel="stylesheet">
	<link th:href="@{/css/admin_res.css}" rel="stylesheet">
	<main role="main">
		<div class="album py-0">
			<div class="container">
				<div class="row">
					<div class="col-md-2" id="side-bar">
						<div class="grid">
							<div th:onclick="|location.href='@{/admin}'|">회원관리</div>
							<div th:onclick="|location.href='@{/admin/room}'|">대관관리</div>
							<div th:onclick="|location.href='@{/admin/QAinfo}'|">문의관리</div>
							<div th:onclick="|location.href='@{/admin/option/list}'|">상품관리</div>
						</div>
					</div>

					<nav class="navbar navbar-expand-lg mt-3" id="mb-bar">
						<button class="navbar-toggler" type="button"
							data-toggle="collapse" data-target="#navbarNavAltMarkup"
							aria-controls="navbarNavAltMarkup" aria-expanded="false"
							aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span> 페이지 메뉴
						</button>
						<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
							<div class="navbar-nav">
								<div class="nav-item nav-link active" id="bar-menu"
									th:onclick="|location.href='@{/admin}'|">회원관리</div>
								<div class="nav-item nav-link active" id="bar-menu"
									th:onclick="|location.href='@{/admin/room}'|">대관관리</div>
								<div class="nav-item nav-link active" id="bar-menu"
									th:onclick="|location.href='@{/admin/QAinfo}'|">문의관리</div>
								<div class="nav-item nav-link active" id="bar-menu"
									th:onclick="|location.href='@{/admin/option/list}'|">상품관리</div>
							</div>
						</div>
					</nav>
					<div class="col-md-10 ps-5 pt-5" id="main-con">
						<div class="d-flex align-items-center justify-content-center mb-5"
							id="my-text1">management</div>
						<div id="profile">
							<div id="loginid" th:inline="text">[[${member.name}]]님 
							관리자 페이지에 오신걸 환영합니다.</div>
						</div>
						<div id="content_title">
							<h2>대관관리</h2>
						</div>
						<hr />
						<div id="content" align="center">
							<div class="container mt-5">
								<div class="card mb-0" id="card-main">
									<div class="row g-0" id="web-pool">
										<div class="col-md-4">
											<img src="/img/A1.PNG" class="img-fluid rounded-start"
												alt="미니룸A">
										</div>
										<div class="col-md-8 pt-1">
											<div class="card-title" align="center" id="card-title">미니룸 A</div>
											<div class="card-body" align="center">
											<a th:onclick="|location.href='@{/admin/modiroom?roomType=A}'|"  class="btn btn-danger">수정하기</a>
											</div>
										</div>
									</div>
									<div class="row g-0" id="mobile-pool">
										<div class="col-4">
											<img src="/img/A1.PNG" class="img-fluid rounded-start"
												alt="미니룸A">
										</div>
										<div class="col-8 pt-1">
											<div class="card-title" align="center" id="card-title-2">미니룸 A</div>
											<div class="card-body" align="center"> <a th:onclick="|location.href='@{/admin/modiroom?roomType=A}'|"
													class="btn btn-danger">수정</a>
											</div>
										</div>
									</div>
								</div>
								<br> <br> <br>
								<div class="card mb-0" id="card-main">
									<div class="row g-0" id="web-pool">
										<div class="col-md-4">
											<img src="/img/B1.PNG" class="img-fluid rounded-start"
												alt="미니룸A">
										</div>
										<div class="col-md-8 pt-1">
											<div class="card-title" align="center" id="card-title">미니룸 B</div>
											<div class="card-body" align="center">
												<a th:onclick="|location.href='@{/admin/modiroom?roomType=B}'|" class="btn btn-danger">수정하기</a>
											</div>
										</div>
									</div>
									<div class="row g-0" id="mobile-pool">
										<div class="col-4">
											<img src="/img/B1.PNG" class="img-fluid rounded-start"
												alt="미니룸B">
										</div>
										<div class="col-8 pt-1">
											<div class="card-title" align="center" id="card-title-2">미니룸 B</div>
											<div class="card-body" align="center">
												<a th:onclick="|location.href='@{/admin/modiroom?roomType=B}'|" class="btn btn-danger btn-sm">수정</a>
											</div>
										</div>
									</div>
								</div>
								<br> <br> <br>
								<div class="card mb-0" id="card-main">
									<div class="row g-0" id="web-pool">
										<div class="col-md-4">
											<img src="/img/C3.PNG" class="img-fluid rounded-start"
												alt="미니룸A">
										</div>
										<div class="col-md-8 pt-1">
											<div class="card-title" align="center" id="card-title">파티룸 A</div>
											<div class="card-body" align="center">
												<a th:onclick="|location.href='@{/admin/modiroom?roomType=C}'|"
													class="btn btn-danger">수정하기</a>
											</div>
										</div>
									</div>
									<div class="row g-0" id="mobile-pool">
										<div class="col-4">
											<img src="/img/C3.PNG" class="img-fluid rounded-start"
												alt="미니룸A">
										</div>
										<div class="col-8 pt-1">
											<div class="card-title" align="center" id="card-title-2">파티룸 A</div>
											<div class="card-body" align="center">
												<a th:onclick="|location.href='@{/admin/modiroom?roomType=C}'|" class="btn btn-danger btn-sm">수정</a>
											</div>
										</div>
									</div>
								</div>
								<br> <br> <br>
								<div class="card mb-0" id="card-main">
									<div class="row g-0" id="web-pool">
										<div class="col-md-4">
											<img src="/img/D1.PNG" class="img-fluid rounded-start"
												alt="미니룸A">
										</div>
										<div class="col-md-8 pt-1">
											<div class="card-title" align="center" id="card-title">파티룸 B</div>
											<div class="card-body" align="center">
											<a th:onclick="|location.href='@{/admin/modiroom?roomType=D}'|" class="btn btn-danger">수정하기</a>
											</div>
										</div>
									</div>
									<div class="row g-0" id="mobile-pool">
										<div class="col-4">
											<img src="/img/D1.PNG" class="img-fluid rounded-start"
												alt="미니룸A">
										</div>
										<div class="col-8 pt-1">
											<div class="card-title" align="center" id="card-title-2">파티룸 B</div>
											<div class="card-body" align="center">
												<a th:onclick="|location.href='@{/admin/modiroom?roomType=D}'|" class="btn btn-danger btn-sm">수정</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<br><br><br>
					</div>
				</div>
			</div>
		</div>
	</main>
</th:block>
</html>